=begin
#MailOdds Email Validation API

#MailOdds provides email validation services to help maintain clean email lists  and improve deliverability. The API performs multiple validation checks including  format verification, domain validation, MX record checking, and disposable email detection.  ## Authentication  All API requests require authentication using a Bearer token. Include your API key  in the Authorization header:  ``` Authorization: Bearer YOUR_API_KEY ```  API keys can be created in the MailOdds dashboard.  ## Rate Limits  Rate limits vary by plan: - Free: 10 requests/minute - Starter: 60 requests/minute   - Pro: 300 requests/minute - Business: 1000 requests/minute - Enterprise: Custom limits  ## Response Format  All responses include: - `schema_version`: API schema version (currently \"1.0\") - `request_id`: Unique request identifier for debugging  Error responses include: - `error`: Machine-readable error code - `message`: Human-readable error description 

The version of the OpenAPI document: 1.0.0
Contact: support@mailodds.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Mailodds
  class BulkValidationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel a job
    # Cancel a pending or processing job. Partial results are preserved.
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def cancel_job(job_id, opts = {})
      data, _status_code, _headers = cancel_job_with_http_info(job_id, opts)
      data
    end

    # Cancel a job
    # Cancel a pending or processing job. Partial results are preserved.
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Integer, Hash)>] JobResponse data, response status code and response headers
    def cancel_job_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkValidationApi.cancel_job ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling BulkValidationApi.cancel_job"
      end
      # resource path
      local_var_path = '/v1/jobs/{job_id}/cancel'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BulkValidationApi.cancel_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkValidationApi#cancel_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create bulk validation job (JSON)
    # Create a new bulk validation job by submitting a JSON array of emails.
    # @param create_job_request [CreateJobRequest] 
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def create_job(create_job_request, opts = {})
      data, _status_code, _headers = create_job_with_http_info(create_job_request, opts)
      data
    end

    # Create bulk validation job (JSON)
    # Create a new bulk validation job by submitting a JSON array of emails.
    # @param create_job_request [CreateJobRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Integer, Hash)>] JobResponse data, response status code and response headers
    def create_job_with_http_info(create_job_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkValidationApi.create_job ...'
      end
      # verify the required parameter 'create_job_request' is set
      if @api_client.config.client_side_validation && create_job_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_job_request' when calling BulkValidationApi.create_job"
      end
      # resource path
      local_var_path = '/v1/jobs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_job_request)

      # return_type
      return_type = opts[:debug_return_type] || 'JobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BulkValidationApi.create_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkValidationApi#create_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create job from S3 upload
    # Create a validation job from a file previously uploaded to S3.
    # @param create_job_from_s3_request [CreateJobFromS3Request] 
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def create_job_from_s3(create_job_from_s3_request, opts = {})
      data, _status_code, _headers = create_job_from_s3_with_http_info(create_job_from_s3_request, opts)
      data
    end

    # Create job from S3 upload
    # Create a validation job from a file previously uploaded to S3.
    # @param create_job_from_s3_request [CreateJobFromS3Request] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Integer, Hash)>] JobResponse data, response status code and response headers
    def create_job_from_s3_with_http_info(create_job_from_s3_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkValidationApi.create_job_from_s3 ...'
      end
      # verify the required parameter 'create_job_from_s3_request' is set
      if @api_client.config.client_side_validation && create_job_from_s3_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_job_from_s3_request' when calling BulkValidationApi.create_job_from_s3"
      end
      # resource path
      local_var_path = '/v1/jobs/upload/s3'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_job_from_s3_request)

      # return_type
      return_type = opts[:debug_return_type] || 'JobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BulkValidationApi.create_job_from_s3",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkValidationApi#create_job_from_s3\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create bulk validation job (file upload)
    # Create a new bulk validation job by uploading a CSV, Excel, or TXT file.
    # @param file [File] CSV, Excel (.xlsx, .xls), ODS, or TXT file
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dedup Remove duplicate emails (default to false)
    # @option opts [String] :metadata JSON metadata for the job
    # @return [JobResponse]
    def create_job_upload(file, opts = {})
      data, _status_code, _headers = create_job_upload_with_http_info(file, opts)
      data
    end

    # Create bulk validation job (file upload)
    # Create a new bulk validation job by uploading a CSV, Excel, or TXT file.
    # @param file [File] CSV, Excel (.xlsx, .xls), ODS, or TXT file
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :dedup Remove duplicate emails (default to false)
    # @option opts [String] :metadata JSON metadata for the job
    # @return [Array<(JobResponse, Integer, Hash)>] JobResponse data, response status code and response headers
    def create_job_upload_with_http_info(file, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkValidationApi.create_job_upload ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling BulkValidationApi.create_job_upload"
      end
      # resource path
      local_var_path = '/v1/jobs/upload'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['dedup'] = opts[:'dedup'] if !opts[:'dedup'].nil?
      form_params['metadata'] = opts[:'metadata'] if !opts[:'metadata'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BulkValidationApi.create_job_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkValidationApi#create_job_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a job
    # Permanently delete a completed or cancelled job and its results.
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteJob200Response]
    def delete_job(job_id, opts = {})
      data, _status_code, _headers = delete_job_with_http_info(job_id, opts)
      data
    end

    # Delete a job
    # Permanently delete a completed or cancelled job and its results.
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteJob200Response, Integer, Hash)>] DeleteJob200Response data, response status code and response headers
    def delete_job_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkValidationApi.delete_job ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling BulkValidationApi.delete_job"
      end
      # resource path
      local_var_path = '/v1/jobs/{job_id}'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteJob200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BulkValidationApi.delete_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkValidationApi#delete_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job status
    # Get the status and details of a specific validation job.
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [JobResponse]
    def get_job(job_id, opts = {})
      data, _status_code, _headers = get_job_with_http_info(job_id, opts)
      data
    end

    # Get job status
    # Get the status and details of a specific validation job.
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(JobResponse, Integer, Hash)>] JobResponse data, response status code and response headers
    def get_job_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkValidationApi.get_job ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling BulkValidationApi.get_job"
      end
      # resource path
      local_var_path = '/v1/jobs/{job_id}'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BulkValidationApi.get_job",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkValidationApi#get_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get job results
    # Download validation results in JSON, CSV, or NDJSON format.
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format  (default to 'json')
    # @option opts [String] :filter 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 1000)
    # @return [ResultsResponse]
    def get_job_results(job_id, opts = {})
      data, _status_code, _headers = get_job_results_with_http_info(job_id, opts)
      data
    end

    # Get job results
    # Download validation results in JSON, CSV, or NDJSON format.
    # @param job_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :format  (default to 'json')
    # @option opts [String] :filter 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 1000)
    # @return [Array<(ResultsResponse, Integer, Hash)>] ResultsResponse data, response status code and response headers
    def get_job_results_with_http_info(job_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkValidationApi.get_job_results ...'
      end
      # verify the required parameter 'job_id' is set
      if @api_client.config.client_side_validation && job_id.nil?
        fail ArgumentError, "Missing the required parameter 'job_id' when calling BulkValidationApi.get_job_results"
      end
      allowable_values = ["json", "csv", "ndjson"]
      if @api_client.config.client_side_validation && opts[:'format'] && !allowable_values.include?(opts[:'format'])
        fail ArgumentError, "invalid value for \"format\", must be one of #{allowable_values}"
      end
      allowable_values = ["all", "valid_only", "invalid_only"]
      if @api_client.config.client_side_validation && opts[:'filter'] && !allowable_values.include?(opts[:'filter'])
        fail ArgumentError, "invalid value for \"filter\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 10000
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling BulkValidationApi.get_job_results, must be smaller than or equal to 10000.'
      end

      # resource path
      local_var_path = '/v1/jobs/{job_id}/results'.sub('{' + 'job_id' + '}', CGI.escape(job_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'format'] = opts[:'format'] if !opts[:'format'].nil?
      query_params[:'filter'] = opts[:'filter'] if !opts[:'filter'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/csv', 'application/x-ndjson']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ResultsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BulkValidationApi.get_job_results",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkValidationApi#get_job_results\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get S3 presigned upload URL
    # Get a presigned URL for uploading large files (>10MB) directly to S3.
    # @param get_presigned_upload_request [GetPresignedUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PresignedUploadResponse]
    def get_presigned_upload(get_presigned_upload_request, opts = {})
      data, _status_code, _headers = get_presigned_upload_with_http_info(get_presigned_upload_request, opts)
      data
    end

    # Get S3 presigned upload URL
    # Get a presigned URL for uploading large files (&gt;10MB) directly to S3.
    # @param get_presigned_upload_request [GetPresignedUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PresignedUploadResponse, Integer, Hash)>] PresignedUploadResponse data, response status code and response headers
    def get_presigned_upload_with_http_info(get_presigned_upload_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkValidationApi.get_presigned_upload ...'
      end
      # verify the required parameter 'get_presigned_upload_request' is set
      if @api_client.config.client_side_validation && get_presigned_upload_request.nil?
        fail ArgumentError, "Missing the required parameter 'get_presigned_upload_request' when calling BulkValidationApi.get_presigned_upload"
      end
      # resource path
      local_var_path = '/v1/jobs/upload/presigned'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(get_presigned_upload_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PresignedUploadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BulkValidationApi.get_presigned_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkValidationApi#get_presigned_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List validation jobs
    # List all validation jobs for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :status 
    # @return [JobListResponse]
    def list_jobs(opts = {})
      data, _status_code, _headers = list_jobs_with_http_info(opts)
      data
    end

    # List validation jobs
    # List all validation jobs for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 20)
    # @option opts [String] :status 
    # @return [Array<(JobListResponse, Integer, Hash)>] JobListResponse data, response status code and response headers
    def list_jobs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BulkValidationApi.list_jobs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling BulkValidationApi.list_jobs, must be smaller than or equal to 100.'
      end

      allowable_values = ["pending", "processing", "completed", "failed", "cancelled"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/jobs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'JobListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BulkValidationApi.list_jobs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BulkValidationApi#list_jobs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
