=begin
#MailOdds Email Validation API

#MailOdds provides email validation services to help maintain clean email lists  and improve deliverability. The API performs multiple validation checks including  format verification, domain validation, MX record checking, and disposable email detection.  ## Authentication  All API requests require authentication using a Bearer token. Include your API key  in the Authorization header:  ``` Authorization: Bearer YOUR_API_KEY ```  API keys can be created in the MailOdds dashboard.  ## Rate Limits  Rate limits vary by plan: - Free: 10 requests/minute - Starter: 60 requests/minute   - Pro: 300 requests/minute - Business: 1000 requests/minute - Enterprise: Custom limits  ## Response Format  All responses include: - `schema_version`: API schema version (currently \"1.0\") - `request_id`: Unique request identifier for debugging  Error responses include: - `error`: Machine-readable error code - `message`: Human-readable error description 

The version of the OpenAPI document: 1.0.0
Contact: support@mailodds.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Mailodds
  class EmailSendingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Send to multiple recipients (max 100)
    # Send a single message to up to 100 recipients. Shares the same message body across all recipients. Each recipient is processed independently.
    # @param batch_deliver_request [BatchDeliverRequest] 
    # @param [Hash] opts the optional parameters
    # @return [BatchDeliverResponse]
    def deliver_batch(batch_deliver_request, opts = {})
      data, _status_code, _headers = deliver_batch_with_http_info(batch_deliver_request, opts)
      data
    end

    # Send to multiple recipients (max 100)
    # Send a single message to up to 100 recipients. Shares the same message body across all recipients. Each recipient is processed independently.
    # @param batch_deliver_request [BatchDeliverRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BatchDeliverResponse, Integer, Hash)>] BatchDeliverResponse data, response status code and response headers
    def deliver_batch_with_http_info(batch_deliver_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailSendingApi.deliver_batch ...'
      end
      # verify the required parameter 'batch_deliver_request' is set
      if @api_client.config.client_side_validation && batch_deliver_request.nil?
        fail ArgumentError, "Missing the required parameter 'batch_deliver_request' when calling EmailSendingApi.deliver_batch"
      end
      # resource path
      local_var_path = '/v1/deliver/batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(batch_deliver_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BatchDeliverResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EmailSendingApi.deliver_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailSendingApi#deliver_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a single email
    # Send a transactional email through the safety pipeline. Validates recipients, checks domain ownership, and queues for delivery. Requires a verified sending domain.
    # @param deliver_request [DeliverRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeliverResponse]
    def deliver_email(deliver_request, opts = {})
      data, _status_code, _headers = deliver_email_with_http_info(deliver_request, opts)
      data
    end

    # Send a single email
    # Send a transactional email through the safety pipeline. Validates recipients, checks domain ownership, and queues for delivery. Requires a verified sending domain.
    # @param deliver_request [DeliverRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeliverResponse, Integer, Hash)>] DeliverResponse data, response status code and response headers
    def deliver_email_with_http_info(deliver_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailSendingApi.deliver_email ...'
      end
      # verify the required parameter 'deliver_request' is set
      if @api_client.config.client_side_validation && deliver_request.nil?
        fail ArgumentError, "Missing the required parameter 'deliver_request' when calling EmailSendingApi.deliver_email"
      end
      # resource path
      local_var_path = '/v1/deliver'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(deliver_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeliverResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"EmailSendingApi.deliver_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailSendingApi#deliver_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
