=begin
#MailOdds Email Validation API

#MailOdds provides email validation services to help maintain clean email lists  and improve deliverability. The API performs multiple validation checks including  format verification, domain validation, MX record checking, and disposable email detection.  ## Authentication  All API requests require authentication using a Bearer token. Include your API key  in the Authorization header:  ``` Authorization: Bearer YOUR_API_KEY ```  API keys can be created in the MailOdds dashboard.  ## Rate Limits  Rate limits vary by plan: - Free: 10 requests/minute - Starter: 60 requests/minute   - Pro: 300 requests/minute - Business: 1000 requests/minute - Enterprise: Custom limits  ## Response Format  All responses include: - `schema_version`: API schema version (currently \"1.0\") - `request_id`: Unique request identifier for debugging  Error responses include: - `error`: Machine-readable error code - `message`: Human-readable error description 

The version of the OpenAPI document: 1.0.0
Contact: support@mailodds.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Mailodds
  class SendingDomainsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a sending domain
    # Register a new sending domain with NS delegation. After adding, configure DNS records and verify.
    # @param create_sending_domain_request [CreateSendingDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateSendingDomain201Response]
    def create_sending_domain(create_sending_domain_request, opts = {})
      data, _status_code, _headers = create_sending_domain_with_http_info(create_sending_domain_request, opts)
      data
    end

    # Add a sending domain
    # Register a new sending domain with NS delegation. After adding, configure DNS records and verify.
    # @param create_sending_domain_request [CreateSendingDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSendingDomain201Response, Integer, Hash)>] CreateSendingDomain201Response data, response status code and response headers
    def create_sending_domain_with_http_info(create_sending_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingDomainsApi.create_sending_domain ...'
      end
      # verify the required parameter 'create_sending_domain_request' is set
      if @api_client.config.client_side_validation && create_sending_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_sending_domain_request' when calling SendingDomainsApi.create_sending_domain"
      end
      # resource path
      local_var_path = '/v1/sending-domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_sending_domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSendingDomain201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SendingDomainsApi.create_sending_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingDomainsApi#create_sending_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a sending domain
    # Permanently remove a sending domain from the account.
    # @param domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeletePolicyRule200Response]
    def delete_sending_domain(domain_id, opts = {})
      data, _status_code, _headers = delete_sending_domain_with_http_info(domain_id, opts)
      data
    end

    # Delete a sending domain
    # Permanently remove a sending domain from the account.
    # @param domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePolicyRule200Response, Integer, Hash)>] DeletePolicyRule200Response data, response status code and response headers
    def delete_sending_domain_with_http_info(domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingDomainsApi.delete_sending_domain ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SendingDomainsApi.delete_sending_domain"
      end
      # resource path
      local_var_path = '/v1/sending-domains/{domain_id}'.sub('{' + 'domain_id' + '}', CGI.escape(domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePolicyRule200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SendingDomainsApi.delete_sending_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingDomainsApi#delete_sending_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a sending domain
    # Get details of a specific sending domain including DNS verification status.
    # @param domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateSendingDomain201Response]
    def get_sending_domain(domain_id, opts = {})
      data, _status_code, _headers = get_sending_domain_with_http_info(domain_id, opts)
      data
    end

    # Get a sending domain
    # Get details of a specific sending domain including DNS verification status.
    # @param domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSendingDomain201Response, Integer, Hash)>] CreateSendingDomain201Response data, response status code and response headers
    def get_sending_domain_with_http_info(domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingDomainsApi.get_sending_domain ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SendingDomainsApi.get_sending_domain"
      end
      # resource path
      local_var_path = '/v1/sending-domains/{domain_id}'.sub('{' + 'domain_id' + '}', CGI.escape(domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSendingDomain201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SendingDomainsApi.get_sending_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingDomainsApi#get_sending_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get domain identity score
    # Get a composite DNS health score for the sending domain, checking DKIM, SPF, DMARC, MX, and return path configuration.
    # @param domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSendingDomainIdentityScore200Response]
    def get_sending_domain_identity_score(domain_id, opts = {})
      data, _status_code, _headers = get_sending_domain_identity_score_with_http_info(domain_id, opts)
      data
    end

    # Get domain identity score
    # Get a composite DNS health score for the sending domain, checking DKIM, SPF, DMARC, MX, and return path configuration.
    # @param domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSendingDomainIdentityScore200Response, Integer, Hash)>] GetSendingDomainIdentityScore200Response data, response status code and response headers
    def get_sending_domain_identity_score_with_http_info(domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingDomainsApi.get_sending_domain_identity_score ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SendingDomainsApi.get_sending_domain_identity_score"
      end
      # resource path
      local_var_path = '/v1/sending-domains/{domain_id}/identity-score'.sub('{' + 'domain_id' + '}', CGI.escape(domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSendingDomainIdentityScore200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SendingDomainsApi.get_sending_domain_identity_score",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingDomainsApi#get_sending_domain_identity_score\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get sending statistics
    # Get aggregate sending statistics across all domains for the account, including delivery rates, open rates, and click rates.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :period Time period (default to '7d')
    # @option opts [String] :domain_id Filter by domain
    # @return [GetSendingStats200Response]
    def get_sending_stats(opts = {})
      data, _status_code, _headers = get_sending_stats_with_http_info(opts)
      data
    end

    # Get sending statistics
    # Get aggregate sending statistics across all domains for the account, including delivery rates, open rates, and click rates.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :period Time period (default to '7d')
    # @option opts [String] :domain_id Filter by domain
    # @return [Array<(GetSendingStats200Response, Integer, Hash)>] GetSendingStats200Response data, response status code and response headers
    def get_sending_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingDomainsApi.get_sending_stats ...'
      end
      allowable_values = ["7d", "30d", "90d"]
      if @api_client.config.client_side_validation && opts[:'period'] && !allowable_values.include?(opts[:'period'])
        fail ArgumentError, "invalid value for \"period\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/sending-stats'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?
      query_params[:'domain_id'] = opts[:'domain_id'] if !opts[:'domain_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSendingStats200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SendingDomainsApi.get_sending_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingDomainsApi#get_sending_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List sending domains
    # List all sending domains for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @return [ListSendingDomains200Response]
    def list_sending_domains(opts = {})
      data, _status_code, _headers = list_sending_domains_with_http_info(opts)
      data
    end

    # List sending domains
    # List all sending domains for the authenticated account.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListSendingDomains200Response, Integer, Hash)>] ListSendingDomains200Response data, response status code and response headers
    def list_sending_domains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingDomainsApi.list_sending_domains ...'
      end
      # resource path
      local_var_path = '/v1/sending-domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSendingDomains200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SendingDomainsApi.list_sending_domains",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingDomainsApi#list_sending_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify domain DNS records
    # Check and verify all DNS records (DKIM, SPF, DMARC, MX, return path) for the sending domain.
    # @param domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CreateSendingDomain201Response]
    def verify_sending_domain(domain_id, opts = {})
      data, _status_code, _headers = verify_sending_domain_with_http_info(domain_id, opts)
      data
    end

    # Verify domain DNS records
    # Check and verify all DNS records (DKIM, SPF, DMARC, MX, return path) for the sending domain.
    # @param domain_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateSendingDomain201Response, Integer, Hash)>] CreateSendingDomain201Response data, response status code and response headers
    def verify_sending_domain_with_http_info(domain_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SendingDomainsApi.verify_sending_domain ...'
      end
      # verify the required parameter 'domain_id' is set
      if @api_client.config.client_side_validation && domain_id.nil?
        fail ArgumentError, "Missing the required parameter 'domain_id' when calling SendingDomainsApi.verify_sending_domain"
      end
      # resource path
      local_var_path = '/v1/sending-domains/{domain_id}/verify'.sub('{' + 'domain_id' + '}', CGI.escape(domain_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateSendingDomain201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SendingDomainsApi.verify_sending_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingDomainsApi#verify_sending_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
