=begin
#MailOdds Email Validation API

#MailOdds provides email validation services to help maintain clean email lists  and improve deliverability. The API performs multiple validation checks including  format verification, domain validation, MX record checking, and disposable email detection.  ## Authentication  All API requests require authentication using a Bearer token. Include your API key  in the Authorization header:  ``` Authorization: Bearer YOUR_API_KEY ```  API keys can be created in the MailOdds dashboard.  ## Rate Limits  Rate limits vary by plan: - Free: 10 requests/minute - Starter: 60 requests/minute   - Pro: 300 requests/minute - Business: 1000 requests/minute - Enterprise: Custom limits  ## Response Format  All responses include: - `schema_version`: API schema version (currently \"1.0\") - `request_id`: Unique request identifier for debugging  Error responses include: - `error`: Machine-readable error code - `message`: Human-readable error description 

The version of the OpenAPI document: 1.0.0
Contact: support@mailodds.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Mailodds
  class SubscriberListsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Confirm subscription
    # Confirm a pending subscription via the token sent in the confirmation email. No authentication required. Redirects to the list's configured redirect URL if set, otherwise returns JSON. Tokens expire after 72 hours.
    # @param token [String] Confirmation token from email
    # @param [Hash] opts the optional parameters
    # @return [ConfirmSubscription200Response]
    def confirm_subscription(token, opts = {})
      data, _status_code, _headers = confirm_subscription_with_http_info(token, opts)
      data
    end

    # Confirm subscription
    # Confirm a pending subscription via the token sent in the confirmation email. No authentication required. Redirects to the list&#39;s configured redirect URL if set, otherwise returns JSON. Tokens expire after 72 hours.
    # @param token [String] Confirmation token from email
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfirmSubscription200Response, Integer, Hash)>] ConfirmSubscription200Response data, response status code and response headers
    def confirm_subscription_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberListsApi.confirm_subscription ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling SubscriberListsApi.confirm_subscription"
      end
      # resource path
      local_var_path = '/v1/confirm/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ConfirmSubscription200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SubscriberListsApi.confirm_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberListsApi#confirm_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a subscriber list
    # Create a new subscriber list. Use lists to organize subscribers and manage double opt-in confirmation flows.
    # @param create_list_request [CreateListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateList201Response]
    def create_list(create_list_request, opts = {})
      data, _status_code, _headers = create_list_with_http_info(create_list_request, opts)
      data
    end

    # Create a subscriber list
    # Create a new subscriber list. Use lists to organize subscribers and manage double opt-in confirmation flows.
    # @param create_list_request [CreateListRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateList201Response, Integer, Hash)>] CreateList201Response data, response status code and response headers
    def create_list_with_http_info(create_list_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberListsApi.create_list ...'
      end
      # verify the required parameter 'create_list_request' is set
      if @api_client.config.client_side_validation && create_list_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_list_request' when calling SubscriberListsApi.create_list"
      end
      # resource path
      local_var_path = '/v1/lists'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_list_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateList201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberListsApi.create_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberListsApi#create_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a subscriber list
    # Soft-delete a subscriber list. Existing subscribers are retained but the list is no longer usable.
    # @param list_id [String] List UUID
    # @param [Hash] opts the optional parameters
    # @return [DeletePolicyRule200Response]
    def delete_list(list_id, opts = {})
      data, _status_code, _headers = delete_list_with_http_info(list_id, opts)
      data
    end

    # Delete a subscriber list
    # Soft-delete a subscriber list. Existing subscribers are retained but the list is no longer usable.
    # @param list_id [String] List UUID
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePolicyRule200Response, Integer, Hash)>] DeletePolicyRule200Response data, response status code and response headers
    def delete_list_with_http_info(list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberListsApi.delete_list ...'
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling SubscriberListsApi.delete_list"
      end
      # resource path
      local_var_path = '/v1/lists/{list_id}'.sub('{' + 'list_id' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePolicyRule200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberListsApi.delete_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberListsApi#delete_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a subscriber list
    # Get details of a specific subscriber list including subscriber and confirmed counts.
    # @param list_id [String] List UUID
    # @param [Hash] opts the optional parameters
    # @return [CreateList201Response]
    def get_list(list_id, opts = {})
      data, _status_code, _headers = get_list_with_http_info(list_id, opts)
      data
    end

    # Get a subscriber list
    # Get details of a specific subscriber list including subscriber and confirmed counts.
    # @param list_id [String] List UUID
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateList201Response, Integer, Hash)>] CreateList201Response data, response status code and response headers
    def get_list_with_http_info(list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberListsApi.get_list ...'
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling SubscriberListsApi.get_list"
      end
      # resource path
      local_var_path = '/v1/lists/{list_id}'.sub('{' + 'list_id' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CreateList201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberListsApi.get_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberListsApi#get_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List subscriber lists
    # List all subscriber lists for the authenticated account with pagination.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (default to 1)
    # @option opts [Integer] :per_page Items per page (default to 25)
    # @return [GetLists200Response]
    def get_lists(opts = {})
      data, _status_code, _headers = get_lists_with_http_info(opts)
      data
    end

    # List subscriber lists
    # List all subscriber lists for the authenticated account with pagination.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (default to 1)
    # @option opts [Integer] :per_page Items per page (default to 25)
    # @return [Array<(GetLists200Response, Integer, Hash)>] GetLists200Response data, response status code and response headers
    def get_lists_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberListsApi.get_lists ...'
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling SubscriberListsApi.get_lists, must be smaller than or equal to 100.'
      end

      # resource path
      local_var_path = '/v1/lists'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLists200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberListsApi.get_lists",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberListsApi#get_lists\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List subscribers
    # List paginated subscribers for a specific list. Optionally filter by status.
    # @param list_id [String] List UUID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (default to 1)
    # @option opts [Integer] :per_page Items per page (default to 50)
    # @option opts [String] :status Filter by subscriber status
    # @return [GetSubscribers200Response]
    def get_subscribers(list_id, opts = {})
      data, _status_code, _headers = get_subscribers_with_http_info(list_id, opts)
      data
    end

    # List subscribers
    # List paginated subscribers for a specific list. Optionally filter by status.
    # @param list_id [String] List UUID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page Page number (default to 1)
    # @option opts [Integer] :per_page Items per page (default to 50)
    # @option opts [String] :status Filter by subscriber status
    # @return [Array<(GetSubscribers200Response, Integer, Hash)>] GetSubscribers200Response data, response status code and response headers
    def get_subscribers_with_http_info(list_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberListsApi.get_subscribers ...'
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling SubscriberListsApi.get_subscribers"
      end
      if @api_client.config.client_side_validation && !opts[:'per_page'].nil? && opts[:'per_page'] > 100
        fail ArgumentError, 'invalid value for "opts[:"per_page"]" when calling SubscriberListsApi.get_subscribers, must be smaller than or equal to 100.'
      end

      allowable_values = ["pending", "confirmed", "unsubscribed", "bounced"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/lists/{list_id}/subscribers'.sub('{' + 'list_id' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSubscribers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberListsApi.get_subscribers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberListsApi#get_subscribers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Subscribe to a list
    # Add a subscriber to a list and initiate the double opt-in confirmation flow. The subscriber receives a confirmation email and must click the link to confirm. Rate limited to 10 requests/min per IP and 1000/hour per account.
    # @param list_id [String] List UUID
    # @param subscribe_request [SubscribeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UnsubscribeSubscriber200Response]
    def subscribe(list_id, subscribe_request, opts = {})
      data, _status_code, _headers = subscribe_with_http_info(list_id, subscribe_request, opts)
      data
    end

    # Subscribe to a list
    # Add a subscriber to a list and initiate the double opt-in confirmation flow. The subscriber receives a confirmation email and must click the link to confirm. Rate limited to 10 requests/min per IP and 1000/hour per account.
    # @param list_id [String] List UUID
    # @param subscribe_request [SubscribeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnsubscribeSubscriber200Response, Integer, Hash)>] UnsubscribeSubscriber200Response data, response status code and response headers
    def subscribe_with_http_info(list_id, subscribe_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberListsApi.subscribe ...'
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling SubscriberListsApi.subscribe"
      end
      # verify the required parameter 'subscribe_request' is set
      if @api_client.config.client_side_validation && subscribe_request.nil?
        fail ArgumentError, "Missing the required parameter 'subscribe_request' when calling SubscriberListsApi.subscribe"
      end
      # resource path
      local_var_path = '/v1/subscribe/{list_id}'.sub('{' + 'list_id' + '}', CGI.escape(list_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(subscribe_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnsubscribeSubscriber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberListsApi.subscribe",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberListsApi#subscribe\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unsubscribe a subscriber
    # Set a subscriber's status to unsubscribed. The consent record is retained for compliance.
    # @param list_id [String] List UUID
    # @param subscriber_id [String] Subscriber UUID
    # @param [Hash] opts the optional parameters
    # @return [UnsubscribeSubscriber200Response]
    def unsubscribe_subscriber(list_id, subscriber_id, opts = {})
      data, _status_code, _headers = unsubscribe_subscriber_with_http_info(list_id, subscriber_id, opts)
      data
    end

    # Unsubscribe a subscriber
    # Set a subscriber&#39;s status to unsubscribed. The consent record is retained for compliance.
    # @param list_id [String] List UUID
    # @param subscriber_id [String] Subscriber UUID
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnsubscribeSubscriber200Response, Integer, Hash)>] UnsubscribeSubscriber200Response data, response status code and response headers
    def unsubscribe_subscriber_with_http_info(list_id, subscriber_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubscriberListsApi.unsubscribe_subscriber ...'
      end
      # verify the required parameter 'list_id' is set
      if @api_client.config.client_side_validation && list_id.nil?
        fail ArgumentError, "Missing the required parameter 'list_id' when calling SubscriberListsApi.unsubscribe_subscriber"
      end
      # verify the required parameter 'subscriber_id' is set
      if @api_client.config.client_side_validation && subscriber_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscriber_id' when calling SubscriberListsApi.unsubscribe_subscriber"
      end
      # resource path
      local_var_path = '/v1/lists/{list_id}/subscribers/{subscriber_id}'.sub('{' + 'list_id' + '}', CGI.escape(list_id.to_s)).sub('{' + 'subscriber_id' + '}', CGI.escape(subscriber_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UnsubscribeSubscriber200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SubscriberListsApi.unsubscribe_subscriber",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubscriberListsApi#unsubscribe_subscriber\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
