=begin
#MailOdds Email Validation API

#MailOdds provides email validation services to help maintain clean email lists  and improve deliverability. The API performs multiple validation checks including  format verification, domain validation, MX record checking, and disposable email detection.  ## Authentication  All API requests require authentication using a Bearer token. Include your API key  in the Authorization header:  ``` Authorization: Bearer YOUR_API_KEY ```  API keys can be created in the MailOdds dashboard.  ## Rate Limits  Rate limits vary by plan: - Free: 10 requests/minute - Starter: 60 requests/minute   - Pro: 300 requests/minute - Business: 1000 requests/minute - Enterprise: Custom limits  ## Response Format  All responses include: - `schema_version`: API schema version (currently \"1.0\") - `request_id`: Unique request identifier for debugging  Error responses include: - `error`: Machine-readable error code - `message`: Human-readable error description 

The version of the OpenAPI document: 1.0.0
Contact: support@mailodds.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Mailodds
  class SuppressionListsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add suppression entries
    # Add emails or domains to the suppression list.
    # @param add_suppression_request [AddSuppressionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddSuppressionResponse]
    def add_suppression(add_suppression_request, opts = {})
      data, _status_code, _headers = add_suppression_with_http_info(add_suppression_request, opts)
      data
    end

    # Add suppression entries
    # Add emails or domains to the suppression list.
    # @param add_suppression_request [AddSuppressionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddSuppressionResponse, Integer, Hash)>] AddSuppressionResponse data, response status code and response headers
    def add_suppression_with_http_info(add_suppression_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionListsApi.add_suppression ...'
      end
      # verify the required parameter 'add_suppression_request' is set
      if @api_client.config.client_side_validation && add_suppression_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_suppression_request' when calling SuppressionListsApi.add_suppression"
      end
      # resource path
      local_var_path = '/v1/suppression'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_suppression_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddSuppressionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionListsApi.add_suppression",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionListsApi#add_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check suppression status
    # Check if an email is suppressed.
    # @param check_suppression_request [CheckSuppressionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SuppressionCheckResponse]
    def check_suppression(check_suppression_request, opts = {})
      data, _status_code, _headers = check_suppression_with_http_info(check_suppression_request, opts)
      data
    end

    # Check suppression status
    # Check if an email is suppressed.
    # @param check_suppression_request [CheckSuppressionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuppressionCheckResponse, Integer, Hash)>] SuppressionCheckResponse data, response status code and response headers
    def check_suppression_with_http_info(check_suppression_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionListsApi.check_suppression ...'
      end
      # verify the required parameter 'check_suppression_request' is set
      if @api_client.config.client_side_validation && check_suppression_request.nil?
        fail ArgumentError, "Missing the required parameter 'check_suppression_request' when calling SuppressionListsApi.check_suppression"
      end
      # resource path
      local_var_path = '/v1/suppression/check'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_suppression_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SuppressionCheckResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionListsApi.check_suppression",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionListsApi#check_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get suppression statistics
    # Get statistics about the suppression list.
    # @param [Hash] opts the optional parameters
    # @return [SuppressionStatsResponse]
    def get_suppression_stats(opts = {})
      data, _status_code, _headers = get_suppression_stats_with_http_info(opts)
      data
    end

    # Get suppression statistics
    # Get statistics about the suppression list.
    # @param [Hash] opts the optional parameters
    # @return [Array<(SuppressionStatsResponse, Integer, Hash)>] SuppressionStatsResponse data, response status code and response headers
    def get_suppression_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionListsApi.get_suppression_stats ...'
      end
      # resource path
      local_var_path = '/v1/suppression/stats'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuppressionStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionListsApi.get_suppression_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionListsApi#get_suppression_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List suppression entries
    # List all suppression entries for the account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 50)
    # @option opts [String] :type 
    # @option opts [String] :search 
    # @return [SuppressionListResponse]
    def list_suppression(opts = {})
      data, _status_code, _headers = list_suppression_with_http_info(opts)
      data
    end

    # List suppression entries
    # List all suppression entries for the account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :per_page  (default to 50)
    # @option opts [String] :type 
    # @option opts [String] :search 
    # @return [Array<(SuppressionListResponse, Integer, Hash)>] SuppressionListResponse data, response status code and response headers
    def list_suppression_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionListsApi.list_suppression ...'
      end
      allowable_values = ["email", "domain"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/suppression'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'per_page'] = opts[:'per_page'] if !opts[:'per_page'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SuppressionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionListsApi.list_suppression",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionListsApi#list_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove suppression entries
    # Remove emails or domains from the suppression list.
    # @param remove_suppression_request [RemoveSuppressionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RemoveSuppression200Response]
    def remove_suppression(remove_suppression_request, opts = {})
      data, _status_code, _headers = remove_suppression_with_http_info(remove_suppression_request, opts)
      data
    end

    # Remove suppression entries
    # Remove emails or domains from the suppression list.
    # @param remove_suppression_request [RemoveSuppressionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RemoveSuppression200Response, Integer, Hash)>] RemoveSuppression200Response data, response status code and response headers
    def remove_suppression_with_http_info(remove_suppression_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionListsApi.remove_suppression ...'
      end
      # verify the required parameter 'remove_suppression_request' is set
      if @api_client.config.client_side_validation && remove_suppression_request.nil?
        fail ArgumentError, "Missing the required parameter 'remove_suppression_request' when calling SuppressionListsApi.remove_suppression"
      end
      # resource path
      local_var_path = '/v1/suppression'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remove_suppression_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RemoveSuppression200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionListsApi.remove_suppression",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionListsApi#remove_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
