=begin
#MailOdds Email Validation API

#MailOdds provides email validation services to help maintain clean email lists  and improve deliverability. The API performs multiple validation checks including  format verification, domain validation, MX record checking, and disposable email detection.  ## Authentication  All API requests require authentication using a Bearer token. Include your API key  in the Authorization header:  ``` Authorization: Bearer YOUR_API_KEY ```  API keys can be created in the MailOdds dashboard.  ## Rate Limits  Rate limits vary by plan: - Free: 10 requests/minute - Starter: 60 requests/minute   - Pro: 300 requests/minute - Business: 1000 requests/minute - Enterprise: Custom limits  ## Response Format  All responses include: - `schema_version`: API schema version (currently \"1.0\") - `request_id`: Unique request identifier for debugging  Error responses include: - `error`: Machine-readable error code - `message`: Human-readable error description 

The version of the OpenAPI document: 1.0.0
Contact: support@mailodds.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Mailodds
  class SystemApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get validation telemetry
    # Get validation metrics for your account. Useful for building dashboards and monitoring. Supports ETag caching.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :window Time window for metrics (default to '24h')
    # @return [TelemetrySummary]
    def get_telemetry_summary(opts = {})
      data, _status_code, _headers = get_telemetry_summary_with_http_info(opts)
      data
    end

    # Get validation telemetry
    # Get validation metrics for your account. Useful for building dashboards and monitoring. Supports ETag caching.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :window Time window for metrics (default to '24h')
    # @return [Array<(TelemetrySummary, Integer, Hash)>] TelemetrySummary data, response status code and response headers
    def get_telemetry_summary_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.get_telemetry_summary ...'
      end
      allowable_values = ["1h", "24h", "30d"]
      if @api_client.config.client_side_validation && opts[:'window'] && !allowable_values.include?(opts[:'window'])
        fail ArgumentError, "invalid value for \"window\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/v1/telemetry/summary'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'window'] = opts[:'window'] if !opts[:'window'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TelemetrySummary'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SystemApi.get_telemetry_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#get_telemetry_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Health check
    # Check API health status. No authentication required.
    # @param [Hash] opts the optional parameters
    # @return [HealthCheck200Response]
    def health_check(opts = {})
      data, _status_code, _headers = health_check_with_http_info(opts)
      data
    end

    # Health check
    # Check API health status. No authentication required.
    # @param [Hash] opts the optional parameters
    # @return [Array<(HealthCheck200Response, Integer, Hash)>] HealthCheck200Response data, response status code and response headers
    def health_check_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SystemApi.health_check ...'
      end
      # resource path
      local_var_path = '/health'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'HealthCheck200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"SystemApi.health_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SystemApi#health_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
