=begin
#MailOdds Email Validation API

#MailOdds provides email validation services to help maintain clean email lists  and improve deliverability. The API performs multiple validation checks including  format verification, domain validation, MX record checking, and disposable email detection.  ## Authentication  All API requests require authentication using a Bearer token. Include your API key  in the Authorization header:  ``` Authorization: Bearer YOUR_API_KEY ```  API keys can be created in the MailOdds dashboard.  ## Rate Limits  Rate limits vary by plan: - Free: 10 requests/minute - Starter: 60 requests/minute   - Pro: 300 requests/minute - Business: 1000 requests/minute - Enterprise: Custom limits  ## Response Format  All responses include: - `schema_version`: API schema version (currently \"1.0\") - `request_id`: Unique request identifier for debugging  Error responses include: - `error`: Machine-readable error code - `message`: Human-readable error description 

The version of the OpenAPI document: 1.0.0
Contact: support@mailodds.com
Generated by: https://openapi-generator.tech
Generator version: 7.19.0

=end

require 'cgi'

module Mailodds
  class ValidationPoliciesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add rule to policy
    # Add a new rule to an existing policy.
    # @param policy_id [Integer] 
    # @param policy_rule [PolicyRule] 
    # @param [Hash] opts the optional parameters
    # @return [AddPolicyRule201Response]
    def add_policy_rule(policy_id, policy_rule, opts = {})
      data, _status_code, _headers = add_policy_rule_with_http_info(policy_id, policy_rule, opts)
      data
    end

    # Add rule to policy
    # Add a new rule to an existing policy.
    # @param policy_id [Integer] 
    # @param policy_rule [PolicyRule] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddPolicyRule201Response, Integer, Hash)>] AddPolicyRule201Response data, response status code and response headers
    def add_policy_rule_with_http_info(policy_id, policy_rule, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationPoliciesApi.add_policy_rule ...'
      end
      # verify the required parameter 'policy_id' is set
      if @api_client.config.client_side_validation && policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_id' when calling ValidationPoliciesApi.add_policy_rule"
      end
      # verify the required parameter 'policy_rule' is set
      if @api_client.config.client_side_validation && policy_rule.nil?
        fail ArgumentError, "Missing the required parameter 'policy_rule' when calling ValidationPoliciesApi.add_policy_rule"
      end
      # resource path
      local_var_path = '/v1/policies/{policy_id}/rules'.sub('{' + 'policy_id' + '}', CGI.escape(policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(policy_rule)

      # return_type
      return_type = opts[:debug_return_type] || 'AddPolicyRule201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ValidationPoliciesApi.add_policy_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationPoliciesApi#add_policy_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create policy
    # Create a new validation policy with rules.
    # @param create_policy_request [CreatePolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyResponse]
    def create_policy(create_policy_request, opts = {})
      data, _status_code, _headers = create_policy_with_http_info(create_policy_request, opts)
      data
    end

    # Create policy
    # Create a new validation policy with rules.
    # @param create_policy_request [CreatePolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyResponse, Integer, Hash)>] PolicyResponse data, response status code and response headers
    def create_policy_with_http_info(create_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationPoliciesApi.create_policy ...'
      end
      # verify the required parameter 'create_policy_request' is set
      if @api_client.config.client_side_validation && create_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_policy_request' when calling ValidationPoliciesApi.create_policy"
      end
      # resource path
      local_var_path = '/v1/policies'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ValidationPoliciesApi.create_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationPoliciesApi#create_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create policy from preset
    # Create a policy using a preset template.
    # @param create_policy_from_preset_request [CreatePolicyFromPresetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyResponse]
    def create_policy_from_preset(create_policy_from_preset_request, opts = {})
      data, _status_code, _headers = create_policy_from_preset_with_http_info(create_policy_from_preset_request, opts)
      data
    end

    # Create policy from preset
    # Create a policy using a preset template.
    # @param create_policy_from_preset_request [CreatePolicyFromPresetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyResponse, Integer, Hash)>] PolicyResponse data, response status code and response headers
    def create_policy_from_preset_with_http_info(create_policy_from_preset_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationPoliciesApi.create_policy_from_preset ...'
      end
      # verify the required parameter 'create_policy_from_preset_request' is set
      if @api_client.config.client_side_validation && create_policy_from_preset_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_policy_from_preset_request' when calling ValidationPoliciesApi.create_policy_from_preset"
      end
      # resource path
      local_var_path = '/v1/policies/from-preset'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_policy_from_preset_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ValidationPoliciesApi.create_policy_from_preset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationPoliciesApi#create_policy_from_preset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete policy
    # Delete a policy and all its rules.
    # @param policy_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [DeletePolicy200Response]
    def delete_policy(policy_id, opts = {})
      data, _status_code, _headers = delete_policy_with_http_info(policy_id, opts)
      data
    end

    # Delete policy
    # Delete a policy and all its rules.
    # @param policy_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePolicy200Response, Integer, Hash)>] DeletePolicy200Response data, response status code and response headers
    def delete_policy_with_http_info(policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationPoliciesApi.delete_policy ...'
      end
      # verify the required parameter 'policy_id' is set
      if @api_client.config.client_side_validation && policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_id' when calling ValidationPoliciesApi.delete_policy"
      end
      # resource path
      local_var_path = '/v1/policies/{policy_id}'.sub('{' + 'policy_id' + '}', CGI.escape(policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePolicy200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ValidationPoliciesApi.delete_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationPoliciesApi#delete_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete rule
    # Delete a rule from a policy.
    # @param policy_id [Integer] 
    # @param rule_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [DeletePolicyRule200Response]
    def delete_policy_rule(policy_id, rule_id, opts = {})
      data, _status_code, _headers = delete_policy_rule_with_http_info(policy_id, rule_id, opts)
      data
    end

    # Delete rule
    # Delete a rule from a policy.
    # @param policy_id [Integer] 
    # @param rule_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeletePolicyRule200Response, Integer, Hash)>] DeletePolicyRule200Response data, response status code and response headers
    def delete_policy_rule_with_http_info(policy_id, rule_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationPoliciesApi.delete_policy_rule ...'
      end
      # verify the required parameter 'policy_id' is set
      if @api_client.config.client_side_validation && policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_id' when calling ValidationPoliciesApi.delete_policy_rule"
      end
      # verify the required parameter 'rule_id' is set
      if @api_client.config.client_side_validation && rule_id.nil?
        fail ArgumentError, "Missing the required parameter 'rule_id' when calling ValidationPoliciesApi.delete_policy_rule"
      end
      # resource path
      local_var_path = '/v1/policies/{policy_id}/rules/{rule_id}'.sub('{' + 'policy_id' + '}', CGI.escape(policy_id.to_s)).sub('{' + 'rule_id' + '}', CGI.escape(rule_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeletePolicyRule200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ValidationPoliciesApi.delete_policy_rule",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationPoliciesApi#delete_policy_rule\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get policy
    # Get a single policy with its rules.
    # @param policy_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyResponse]
    def get_policy(policy_id, opts = {})
      data, _status_code, _headers = get_policy_with_http_info(policy_id, opts)
      data
    end

    # Get policy
    # Get a single policy with its rules.
    # @param policy_id [Integer] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyResponse, Integer, Hash)>] PolicyResponse data, response status code and response headers
    def get_policy_with_http_info(policy_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationPoliciesApi.get_policy ...'
      end
      # verify the required parameter 'policy_id' is set
      if @api_client.config.client_side_validation && policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_id' when calling ValidationPoliciesApi.get_policy"
      end
      # resource path
      local_var_path = '/v1/policies/{policy_id}'.sub('{' + 'policy_id' + '}', CGI.escape(policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ValidationPoliciesApi.get_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationPoliciesApi#get_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get policy presets
    # Get available preset templates for quick policy creation.
    # @param [Hash] opts the optional parameters
    # @return [PolicyPresetsResponse]
    def get_policy_presets(opts = {})
      data, _status_code, _headers = get_policy_presets_with_http_info(opts)
      data
    end

    # Get policy presets
    # Get available preset templates for quick policy creation.
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyPresetsResponse, Integer, Hash)>] PolicyPresetsResponse data, response status code and response headers
    def get_policy_presets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationPoliciesApi.get_policy_presets ...'
      end
      # resource path
      local_var_path = '/v1/policies/presets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyPresetsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ValidationPoliciesApi.get_policy_presets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationPoliciesApi#get_policy_presets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List policies
    # List all validation policies for your account. Includes plan limits.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_rules Include full rules in response (default to false)
    # @return [PolicyListResponse]
    def list_policies(opts = {})
      data, _status_code, _headers = list_policies_with_http_info(opts)
      data
    end

    # List policies
    # List all validation policies for your account. Includes plan limits.
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :include_rules Include full rules in response (default to false)
    # @return [Array<(PolicyListResponse, Integer, Hash)>] PolicyListResponse data, response status code and response headers
    def list_policies_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationPoliciesApi.list_policies ...'
      end
      # resource path
      local_var_path = '/v1/policies'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_rules'] = opts[:'include_rules'] if !opts[:'include_rules'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ValidationPoliciesApi.list_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationPoliciesApi#list_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test policy evaluation
    # Test how a policy would evaluate a validation result without affecting production.
    # @param test_policy_request [TestPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyTestResponse]
    def test_policy(test_policy_request, opts = {})
      data, _status_code, _headers = test_policy_with_http_info(test_policy_request, opts)
      data
    end

    # Test policy evaluation
    # Test how a policy would evaluate a validation result without affecting production.
    # @param test_policy_request [TestPolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyTestResponse, Integer, Hash)>] PolicyTestResponse data, response status code and response headers
    def test_policy_with_http_info(test_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationPoliciesApi.test_policy ...'
      end
      # verify the required parameter 'test_policy_request' is set
      if @api_client.config.client_side_validation && test_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'test_policy_request' when calling ValidationPoliciesApi.test_policy"
      end
      # resource path
      local_var_path = '/v1/policies/test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(test_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyTestResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ValidationPoliciesApi.test_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationPoliciesApi#test_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update policy
    # Update a policy's settings (name, enabled, default).
    # @param policy_id [Integer] 
    # @param update_policy_request [UpdatePolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PolicyResponse]
    def update_policy(policy_id, update_policy_request, opts = {})
      data, _status_code, _headers = update_policy_with_http_info(policy_id, update_policy_request, opts)
      data
    end

    # Update policy
    # Update a policy&#39;s settings (name, enabled, default).
    # @param policy_id [Integer] 
    # @param update_policy_request [UpdatePolicyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PolicyResponse, Integer, Hash)>] PolicyResponse data, response status code and response headers
    def update_policy_with_http_info(policy_id, update_policy_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ValidationPoliciesApi.update_policy ...'
      end
      # verify the required parameter 'policy_id' is set
      if @api_client.config.client_side_validation && policy_id.nil?
        fail ArgumentError, "Missing the required parameter 'policy_id' when calling ValidationPoliciesApi.update_policy"
      end
      # verify the required parameter 'update_policy_request' is set
      if @api_client.config.client_side_validation && update_policy_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_policy_request' when calling ValidationPoliciesApi.update_policy"
      end
      # resource path
      local_var_path = '/v1/policies/{policy_id}'.sub('{' + 'policy_id' + '}', CGI.escape(policy_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_policy_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PolicyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ValidationPoliciesApi.update_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ValidationPoliciesApi#update_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
